header {
    background-color: #D60101;
    color: black;
}

body {
    background-color: black;
    font-family: 'McLaren', cursive;
    color: white;
    margin: 0 auto;
    text-align: left;
}

footer {
    background-color: #D60101;
    color: black;
    margin-bottom: 0;
    height: 80px;
}

img {
    display: inline-block;
}

h1 {
    font-size: 2em;
    margin-left: 200px;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    margin-left: 200px;
    margin-right: 810px;
    margin-top: 0;
}
